version: "3"

services:
  # Flask App - Production
  flask-prod:
    build: ./flask-app
    container_name: flask-prod
    ports:
      - "5001:5000"
    environment:
      - ENVIRONMENT=prod
    labels:
      - "prometheus_job=flask-prod"
    networks:
      - monitoring
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:5000"]
      interval: 30s
      retries: 3

  # Flask App - Staging
  flask-staging:
    build: ./flask-app
    container_name: flask-staging
    ports:
      - "5002:5000"
    environment:
      - ENVIRONMENT=staging
    labels:
      - "prometheus_job=flask-staging"
    networks:
      - monitoring
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:5000"]
      interval: 30s
      retries: 3

  # Prometheus Server
  prometheus:
    image: prom/prometheus:v2.42.0
    container_name: prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
    networks:
      - monitoring

  # Grafana Server
  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    networks:
      - monitoring
    depends_on:
      - prometheus
    volumes:
      - ./provisioning/:/etc/grafana/provisioning/datasources # provisions prometheus as data source

networks:
  monitoring:
    driver: bridge
